$color-primary: #2c2d30;

$color-primary-light: #55606e;

$color-primary-dark: #202125;

$color-secondary-light: #e53f51;
$color-secondary-light-1: #fe8178;
$color-secondary-dark: #d50e46;
$color-secondary-dark-1: #ef3e96;
$color-secondary: #f56c6d;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$grey: #9da1a5;
$grey-1: #9197a3;
$grey-3: #888888;

$color-white: #fff; //white
$color-white-1: #fafafa; //white
$color-white-2: #ffffffc5; //white
$color-black: #000; // black

// FONT
$default-font-size: 1.6rem;
